<Mapping ID="{{.ID}}" Action="{{.Action}}" ParentType="{{.ParentType}}" ElementType="{{.ElementType}}" ParentID="{{.ParentID}}" ElementID="{{.ElementID}}" ParentCode="{{.ParentCode}}" ElementCode="{{.ElementCode}}">
  <Property Name="Type">{{.Type}}</Property>
  <Property Name="Sequence">{{.Sequence}}</Property>
</Mapping>