<Property Name="Type">{{.Type}}</Property>
<Property Name="FileURL">{{.FileURL}}</Property>
<Property Name="SourceDRMType">{{.SourceDRMType}}</Property>
<Property Name="DestDRMType">{{.DestDRMType}}</Property>
<Property Name="AudioType">{{.AudioType}}</Property>
<Property Name="ScreenFormat">{{.ScreenFormat}}</Property>
<Property Name="ClosedCaptioning">{{.ClosedCaptioning}}</Property>